# - IDE Ignores
# -----------------------------------------
.idea

# - Composer Ignores
# -----------------------------------------
vendor
composer.lock

# - OS Ignores
# -----------------------------------------
.DS_Store